/* 设置 body 的背景色为 #364F45 */
body {
	background: #364F45;
}

/* 设置所有元素的外边距和内边距为 0 */
* {
	margin: 0;
	padding: 0;
}

.ys {
	margin: 0;
	padding: 0;
	height: 250px;
	width: 100%;
	justify-content: center; /* 主轴方向居中 */
	align-items: center; /* 交叉轴方向居中 */
	display: flex; /* 使用 flex 布局 */
	background: #790601;
}

.d {
	margin: 0;
	padding: 0;
	position: absolute; /* 绝对定位 */
	top: 224px; /* 距离顶部的距离为 224px */
	font-weight: bolder; /* 加粗 */
	font-size: 16px; /* 字体大小为 16px */
	color: white; /* 文本颜色为白色 */
}

.jw {
	margin: 0; /* 设置外边距为0 */
	padding: 0;/* 设置内边距为0 */
	height: 225px;/* 设置高度为225像素 */
	width: 100%;/* 设置宽度为100% */
	justify-content: center;/* 水平居中对齐内容 */
	align-items: center;/* 垂直居中对齐内容 */
	display: flex; /* 将对象作为弹性伸缩盒子显示 */
	background: #790601;/* 设置背景颜色为深红色 */
	position: absolute;/* 将元素的定位设置为绝对定位，相对于最近的已定位的父级元素进行定位 */
}

.YJ {
	position: absolute;/* 设置定位方式为绝对定位 */
	bottom: 0;/* 设置底部距离为0 */
	text-align: center;	/* 设置文本居中 */
	font-size: 17px;/* 设置字体大小为17px */
}

#clock {
	font-size: 20px;
	font-weight: bold;	/* 设置字体加粗 */
	color: #F1AD50;
}

/* 定义链接的默认样式 */
a {
	text-decoration: none; /* 去除下划线 */
}

/* 定义激活链接的样式 */
a:link {
	color: #F3B052;
}

/* 定义已访问链接的样式 */
a:visited {
	color: #F3B052;
}
